<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>911704399165-u7s7oo3p5bd5ldfks0kbq457g0n4pa6n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.911704399165-u7s7oo3p5bd5ldfks0kbq457g0n4pa6n</string>
	<key>API_KEY</key>
	<string>AIzaSyDcIaN8t9nZHJDW10ElRHQUVHjiXmlYqvM</string>
	<key>GCM_SENDER_ID</key>
	<string>911704399165</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rpsMultiplayer</string>
	<key>PROJECT_ID</key>
	<string>multiplayer-lti-ar-rps</string>
	<key>STORAGE_BUCKET</key>
	<string>multiplayer-lti-ar-rps.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:911704399165:ios:4fadfd66e8d650a9303954</string>
</dict>
</plist>